# Bitget API credentials
# Copy this file to .env and fill in your real values
# NEVER commit .env to version control

BITGET_API_KEY=bg_6c721f7d8c1936c4ea1215a71e5d81ab
BITGET_SECRET=1b0f438583fe8c99c3132f71d0491e7215af6d11d5c0b09931b9de82580f139d
BITGET_PASSPHRASE=abahikam123
